<h1>Edit Appointment</h1>
<%= render partial: 'form', appointment: @appointment %>
<button class="btn btn-secondary mt-3" onclick="window.location.href='<%= appointments_path %>'">Back to Appointments</button>